<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="sb-nav-fixed">

        <%- include('../partials/header.ejs') %>
            <div id="layoutSidenav">
                <%- include('../partials/navbar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <div class="container">
                                <h1 class="mt-4">
                                    <%= locals.title %>
                                </h1>
                                <ol class="breadcrumb mb-4">
                                    <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
                                </ol>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            <span>
                                                <i class="fa-brands fa-wpforms"></i>
                                                <span>Edit course</span>
                                        </div>
                                    </div>
                                    <div class="card-body"> 
                                        <form action="/courses/editCourse/<%= course.id %>" method="POST">
                                            <div class="form-floating mb-3">
                                                <div class="row mb-6 m-auto">

                                                    <label for="semester">Select Course</label>
                                                    <select class="form-control mb-3" id="courseName" name="course_name">
                                                        <!-- <option  disabled>Select Course</option> -->
                                                        <option value="BCA" name="bca" <% if (course.course_name == 'BCA') { %>
                                                         selected
                                                        <% } %> >BCA</option>
                                                        <option value="MscIT" name="mscit" <% if (course.course_name == 'MscIT') { %>
                                                         selected
                                                        <% } %>>MscIT</option>
                                                    </select>

                                                    <label for="semester">Select Semester</label>
                                                    <select class="form-control mb-3" id="semester" name="sem_name">
                                                        <% semesters.forEach(semester => { %>
                                                            <option value="<%= semester.name %>"  <% if (course.sem_name == semester.name) { %>
                                                                selected
                                                               <% } %>><%= semester.name %></option>
                                                        <% }) %>
                                                    </select>

                                                    <label for="subjectName">Subject Name</label>
                                                    <input class="form-control mb-3" value="<%= course.subject_name %>" name="subject_name" type="text" />

                                                    <label for="subjectCode">Subject Code</label>
                                                    <input class="form-control mb-4" value="<%= course.subject_code %>" name="subject_code" type="text" />

                                                    <button type="submit" class="btn btn-warning">Edit Course</button>
                                                </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                        </main>
                        <%- include('../partials/footer.ejs') %>
                            </div>
                    </div>
                    <%- include('../partials/scripts.ejs') %>
    </body>

</html>